@import "../../../utils/partials";

.UserCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 180px;
  align-items: center;
}

.userName,
.jobTitle {
  font-family: $fontRoboto;
}

.userName {
  font-size: 16px;
}

.jobTitle {
  font-size: 14px;
  color: $fontColorGrey;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
