@import "../../index.scss";

.secondary {
  background: white;
  margin-right: 20px;
  color: $blue-color;
}

.primary {
  background: $blue-color;
  color: white;
}

.flex-width-max {
  flex-grow: 1;
}

.button {
  border: 1px solid $blue-color;
  border-radius: 4px;
  padding: 10px 25px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  &:hover {
    cursor: pointer;
  }
}
