@import "../../utils/partials";

.LeftHandPanel {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: fixed;
  min-height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  padding-top: 40px;
}

.LeftHandPanel_admin {
  align-self: flex-start;
  font-family: $fontRoboto;
  color: $fontColorGrey;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.cardsOverviewContainer {
  height: 100vh;
  padding-left: 300px;
  width: 100%;
}
