@import "../../utils/partials";

.left-hand-panel {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: fixed;
  min-height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  padding-top: 40px;
  padding-left: 40px;
}

.left-hand-panel-admin {
  align-self: flex-start;
  font-family: $fontRoboto;
  color: $fontColorGrey;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  text-decoration: none;
  cursor: pointer;
}

.cards-overview-container {
  height: 100vh;
  padding-left: 300px;
  width: 100%;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}