@import "../../../utils/partials";

.pages-container {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 40px;
}

.page-container {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 16px;
  font-family: $fontRoboto;
}

.Link {
  text-decoration: none;
  color: $fontColorGrey;
}

.active {
  border-left: 5px solid $orange;
  margin-left: -40px;
  padding-left: 40px;

  .Link {
    color: $blackNavigationPage;
    margin-left: -5px;
  }
}
