@import "../../index.scss";

@mixin completeChallengeBottomStyle($color) {
  .bottom > h3 {
    font-family: $font-family;
    text-transform: uppercase;
    font-style: normal;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color;
  }
}

.denied {
  border-top: 3px $red-color solid;

  @include completeChallengeBottomStyle($red-color);
}

.validated {
  border-top: 3px $green-color solid;

  @include completeChallengeBottomStyle($green-color);
}
.height {
  height: 370px;
  .user-card-container {
    margin-bottom: 20px;
  }
}
.card {
  position: relative;
  width: 300px;
  min-width: 300px;
  min-height: 330px;
  padding: 30px;
  background: $white-color;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 6px;

  .title {
    font-family: $font-family;
    font-size: 16px;
  }

  .xp-and-credits {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

    .xp {
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;
      margin-right: 30px;
      color: $blue-color;
    }

    .credits {
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: $orange-color;
    }
  }
  .description {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
    color: $grey-color;
    max-height: 120px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: $scroll-backgroud-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scroll-bar-color;
      border-radius: 40px;
    }
  }

  .buttons-container {
    display: flex;
    gap: 20px;
  }

  .bottom {
    position: absolute;
    width: 240px;
    bottom: 30px;
  }
}
