@import "../utils/partials";

.button-text {
  font-family: $fontRoboto;
  font-size: 30px;
}

button {
  width: 70px;
  height: 40px;
  border: 2px solid $blue;
  background-color: $lightBlue;
  margin-left: 10px;
}
