@import "../utils/partials";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 111;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: $fontColorGrey;
  h1,
  p,
  .home-redirect {
    color: $blackNavigationPage;
    font-family: $fontRoboto;
    text-decoration: none;
    margin-top: 10px;
  }

  .home-redirect {
    color: $orange;

    &:hover {
      font-size: 20px;
    }
  }
}
