@import "../utils/partials";

.LeftHandPanel {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  padding-top: 40px;
  padding-left: 40px;
}

.LeftHandPanel_admin {
  font-family: $fontRoboto;
  align-self: flex-start;
  color: $fontColorGrey;
  font-size: 16px;
  padding-top: 30px;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.page {
  font-size: 16px;
  font-family: $fontRoboto;
}