$background-color: #e5e5e5;
$green-color: #0e9260;
$red-color: #b73520;
$blue-color: #184fc4;
$scroll-backgroud-color: #e5e5e5;
$scroll-bar-color: #837b7b;
$max: 717px;
$font-family: "Roboto";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
